<%- include('../partials/header') %>
<header class="py-5 bg-light border-bottom mb-4">
  <div class="containerheader">
    <div class="text-center my-5">
      <h1 class="fw-bolder">Welcome to SIMPLR!</h1>
      <p class="lead mb-0">A Place Where You Can Post Stuff, Look AT Stuff, Talk About Stuff, Find Your People </p>
    </div>
  </div>
</header>
<div class="blog-post"><% blogs.forEach(function(b) { %> <div class="blog-post_date">
    <div class="blog-post_info">. </div>
    <h1 class="blog-post_title"><%= b.title %> </h1>
    <p class="blog-post_text"><%= b.text %> </p>
    <hr />
    <hr /><% if (user) { %> <form action="/blogs/<%= b._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn">Delete Post</button>
    </form><% } %> <div>
      <a href="/blogs/<%= b._id %>" class="btn">Add Comment </a>
    </div><% }); %>
  </div>
</div>
<br>
<%- include('../partials/footer') %>