<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th><br>
        <th>Delete</th>
        <th>posts</th>
      </tr>
    </thead>
    <tbody>
      <% blogs.forEach(function(b) { %>
        <tr>
          <td><%= b.title %></td>
          <td><%= b.text %></td>
          <td>
            <% if (user) { %>
              <form action="/blogs/<%= b._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Post</button>
              </form>
            <% } %>
          </td>
          <td><a href="/blogs/<%= b._id %>">Details</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  
<%- include('../partials/footer') %>